/* patrick-hand-regular - latin */
@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/patrick-hand-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Patrick Hand'), local('PatrickHand-Regular'),
       url('../fonts/patrick-hand-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/patrick-hand-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/patrick-hand-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/patrick-hand-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/patrick-hand-v11-latin-regular.svg#PatrickHand') format('svg'); /* Legacy iOS */
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
       url('../fonts/josefin-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/josefin-sans-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/josefin-sans-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/josefin-sans-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/josefin-sans-v12-latin-regular.svg#JosefinSans') format('svg'); /* Legacy iOS */
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(163,200,84);
  border-top: 0px;
  padding: 5px;
  margin: 0px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td > button > i, .table-striped > tbody > tr:nth-child(2n+1) > th {
  color: rgb(163,200,84);
}
.table-striped > tbody > tr:nth-child(2n+1) > td > a > button > i, .table-striped > tbody > tr:nth-child(2n+1) > th {
  color: rgb(163,200,84);
}
.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: rgb(166,132,189);
  border-top: 0px;
  padding: 5px;
}
.table-striped > tbody > tr:nth-child(2n) > td > button > i, .table-striped > tbody > tr:nth-child(2n+1) > th {
  color: rgb(166,132,189);
}
.table-striped > tbody > tr:nth-child(2n) > td > a > button > i, .table-striped > tbody > tr:nth-child(2n+1) > th {
  color: rgb(166,132,189);
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

table {
  table-layout: fixed;
}

.btn-sty{
  width:32px;
  margin: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 0;
  height:32px;
  background-color: white;
}

.btn-green{
  font-style: bold;
  color: white;
  background-color: rgb(163,200,84);
}

.marginless{
  margin: 0;
  padding: 0;
}

.dataTables_filter {
  float: left;
  text-align: left;
  padding-left: 12px;
}

.large-hr{
  background-color: rgb(166,132,189);
  margin:2px;
  height: 2px;
  size: 2px;
}

.hidden-st{
  display: none;
}

a.neat-link{
  color: #333;
  font-weight:bold;
}

a.neat-link:hover{
  color: rgb(163,200,84);
  text-decoration: none;
}

.padded-top{
  padding-top:20px;
}

.bottom-link-div{
  text-align: center;
  padding:10px;
}

td {
  border-top: 0px;
}
