.well{
  color: rgb(166,132,189);
  border-color: rgb(166,132,189);
}
.board-btn{
  color: rgb(163,200,84);
}
.link{
  color:rgb(163,200,84);
  font-weight: bold;
  text-align: right;
}
.well-hr{
  background-color: rgb(166,132,189);
  margin:2px;
  height: 2px;
  size: 2px;
}
