<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
<head>
  <!-- Icons -->
  <link rel="icon" href="http://oxsoundboard.com/static/img/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="http://oxsoundboard.com/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://oxsoundboard.com/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://oxsoundboard.com/static/img/favicon-16x16.png">
  <link rel="manifest" href="http://oxsoundboard.com/static/img/site.webmanifest">

  <!-- Bootstrap and FA -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.1.0-web/css/all.css') }}" />

  <!-- jQuery, Popper and Bootstrap JS-->
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% block head %}{% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %} | OX Soundboard</title>

  <meta property="og:title" content="OX Soundboard" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://oxsoundboard.com" />
  <meta property="og:image" content="http://oxsoundboard.com/static/img/favicon.ico" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home') }}">OX Soundboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('library') }}">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('personal_board') }}">MyBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://discord.gg/kfWazWg">Join us on Discord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://jack-parkinson.com">About the Creator</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
