<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#">
<head>
  <link rel="icon" href="http://oxsoundboard.com/static/img/favicon.ico" />

  <link rel="apple-touch-icon" sizes="180x180" href="http://oxsoundboard.com/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="http://oxsoundboard.com/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="http://oxsoundboard.com/static/img/favicon-16x16.png">
  <link rel="manifest" href="http://oxsoundboard.com/static/img/site.webmanifest">

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/howler.js') }}"></script>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-5.1.0-web/css/all.css') }}" />
  <link href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>

  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>OX Soundboard - Jack Parkinson</title>

  <link href="{{ url_for('static', filename='css/main_style.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <meta property="og:title" content="OX Soundboard" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://oxsoundboard.com" />
  <meta property="og:image" content="http://oxsoundboard.com/static/img/favicon.ico" />
</head>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-sm-12">
      <h1>OX Soundboard</h1>
    </div>
    <div class="col-sm-4 hidden-xs padded-top" style="text-align: center;">
      <a href="https://discord.gg/kfWazWg" class="neat-link"><i class="fas fa-external-link-alt"></i> Find us on Discord!</a>
    </div>
    <div class="col-sm-4 hidden-xs padded-top" style="text-align: center;">
      <a href="http://jack-parkinson.com" class="neat-link"><i class="fas fa-external-link-alt"></i> About the creator</a>
    </div>
  </div>
    <div class="row" id="parent_elem">
      <div class="marginless col-xs-12 hidden-st" id="table_div">
        <table class="table table-striped table-borderless table-condensed display" cellspacing="0" width="100%" id="myTable">
          <thead>
            <tr>
              <th>Num Plays</th>
              <th class="col-sm-2 col-xs-4">Name</th>
              <th class="col-sm-1 col-xs-3">Person</th>
              <th class="hidden-xs col-sm-7">Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for sound in context.sounds %}
              <tr>
                <td>
                  <b>{{sound.num_plays}}</b>
                </td>
                <td class="col-sm-2 col-xs-4">
                  <b>{{sound.name}}</b>
                </td>
                <td class="col-sm-1 col-xs-3">
                  <b>{{sound.person}}</b>
                </td>
                <td class="hidden-xs col-sm-7">
                  <i>"{{sound.description}}"</i>
                </td>
                <td>
                  <button id="{{sound.filename}}_btn_stop" class="btn btn-default btn-sty" style="float:right; display:inline"><i class="fas fa-stop"></i></button>
                  <button id="{{sound.filename}}_btn_play" class="btn btn-default btn-sty" style="float:right; display:inline"><i class="fas fa-play"></i></button>
                  <button id="{{sound.filename}}_btn_modal" class="btn btn-default btn-sty" style="float:right; display:inline" title="Get sharable url"><i class="fas fa-share"></i></button>
                  <button onclick="window.location.href='{{sound.video_url}}'" class="btn btn-default btn-sty" style="float:right; display:inline" title="View source video"><i class="fas fa-video"></i></button>
                  <a href="" id="{{sound.filename}}_btn_download" download="{{sound.filename}}">
                    <button class="btn btn-default btn-sty" style="float:right; display:inline" title="Download clip"><i class="fas fa-download"></i></button>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  <div id="loading_div">
    loading...
  </div>
  <div class="row visible-xs">
    <div class="col-xs-12" style="text-align: center;">
      <hr class="large-hr" />
    </div>
    <div class="col-xs-12 bottom-link-div">
      <a href="https://discord.gg/kfWazWg" class="neat-link"><i class="fa fa-external-link"></i> Find us on Discord!</a>
    </div>
    <div class="col-xs-12 bottom-link-div">
      <a href="http://jack-parkinson.com" class="neat-link"><i class="fa fa-external-link"></i> About the creator</a>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="link_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Copy or navigate to url</h5>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="modal_content" />
      </div>
      <div class="modal-footer">
        <button onclick="nav_to_link()" class="btn btn-default btn-sty" style="display:inline" title="Navigate to url"><i class="fa fa-share"></i></button>
        <button type="button" class="btn btn-default btn-green" id="copy_to_clip_btn">Copy to Clipboard</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var sounds = {{context.js_sounds | safe}};
  var howls = {};

  sounds.forEach(function(sound){
    var str = "{{ url_for('static', filename='audio/airhorn.mp3') }}";
    var url = str.replace("airhorn", sound);
  	howls[sound] = new Howl({
  		src: [url]
  	});

    $(document).on('click', '#'+sound+'_btn_play', function(){
  		howls[sound].play();
      update_count(sound);
  	});
  	$(document).on('click', '#'+sound+'_btn_stop', function(){
  		howls[sound].stop();
  	});
    $(document).on('click', '#'+sound+'_btn_modal', function(){
      var modal_url = "http://oxsoundboard.com/" + sound;
  		$("#modal_content").val(modal_url);
      $("#link_modal").modal();
  	});
    $('#'+sound+"_btn_download").attr('href',url);
  });
  var table = $(document).ready(function() {
    $('#myTable').DataTable({
      paging: false,
      ordering: true,
      responsive: true,
      "dom":' <"search"fl><"top">rt<"bottom"ip><"clear">',
      "columnDefs": [
        {
          "targets": 4,
          "orderable": false
        },
        {
          "targets": 0,
          "visible": false,
          "searchable": false
        }
      ],
      "order": [[0, "desc"]]
    });
    $("#table_div").show();
    $(window).trigger("resize");
    $("#loading_div").hide();
  });

  $(document).on('click', '#copy_to_clip_btn', function(){
    copy_to_clipboard();
  });

  function update_count(sound){
    var url = "update/" + sound;
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.send( null );
  }

  function copy_to_clipboard() {
    var copyTextarea = document.querySelector('#modal_content');
    console.log(copyTextarea);
    copyTextarea.select();

    try {
      var successful = document.execCommand('copy');
      var msg = successful ? 'successful' : 'unsuccessful';
      console.log('Copying text command was ' + msg);
    } catch (err) {
      console.log('Oops, unable to copy');
    }
  }

  function nav_to_link(){
    var url = $("#modal_content").val();
    console.log(url);
    window.location.href = url;
  }
</script>
</html>
