{% extends 'base.html' %}

{% block title %}{{context.sound.name}}{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/howler.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sub_style.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% if context.sound.person %}
        <h1>{{context.sound.person}} - {{context.sound.name}}</h1>
      {% else %}
        <h1>{{context.sound.name}}</h1>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well" >
        <div class="row">
          <div class="col-sm-8">
            {% if context.sound.person %}
            <span>
              <b>{{context.sound.person}} - {{context.sound.name}}</b>
            </span>
            {% else %}
            <span>
              <b>{{context.sound.name}}</b>
            </span>
            {% endif %}
            <br/>
            <span>
              <i>"{{context.sound.description}}"</i>
            </span>
          </div>
          <div class="col-sm-4" style="padding-left:0; padding-right:10px">
            <button id="{{context.sound.filename}}_btn_stop" class="btn btn-default" style="float:right; display:inline"><i class="fas fa-stop board-btn"></i></button>
            <button id="{{context.sound.filename}}_btn_play" class="btn btn-default" style="float:right; display:inline"><i class="fas fa-play board-btn"></i></button>
          </div>
        </div>
      <hr class="well-hr"/>
        <div class="row">
          <div class="col-sm-12" style="text-align:right">
            <span><a href="{{context.sound.video_url}}" class="link" target="_blank">Link to video</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="text-align:center">
    <div class="col-sm-12">
      <a href="{{ url_for('library') }}" class="link">Back to soundboard</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  var sound = "{{context.filename}}";
  var str = "{{ url_for('static', filename='audio/sound.mp3') }}";
  var url = str.replace("sound", sound);
  var howl = new Howl({
    src: [url]
  });

  $('#' + sound + '_btn_play').on('click', function () {
    howl.play();
    update_count(sound);
  });
  $('#' + sound + '_btn_stop').on('click', function () {
    howl.stop();
  });

  function update_count(sound){
    $.getJSON($SCRIPT_ROOT + '/api/update', {
        filename: sound
      });
  }
</script>
{% endblock %}
