{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block style %}{% endblock %}

{% block content %}
<h1>Coming Soon!</h1>
<p>The biggest problem wiht the soundboard to date is that it's overwhelming - it's a massive, sprawling archive, which can make quickly finding the sound you want a little tricky. Your own personal board is a way around that!</p>
<p>This will be a place to keep and construct your very own soundboard. I'll offer some suggestions based on our most played sounds, but once it's ready you'll be able to swap sounds in and out, reorder them and create a soundboard that works for you.</p>
{% endblock %}
